@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100..1000;1,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM-Sans', sans-serif
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color, #171717);
    width: 100%;
    font-family: "DM Sans";
    position: relative;
    z-index: 0;
}

h1{
    font-size: 26px;
}

.fundo {
    background-color: #171717;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #F9F9F9;
    font-family: DMSans;
}

li a{
    color: #F9F9F9;
    text-decoration: none;
}

.inicio {
    width: 1284px;
    height: 604px;
    padding-top: 35px;
    gap: 60px;
}

.textonav {
    width: 469px;
    list-style: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #F9F9F9;
    ;
}

.listanav {
    list-style: none;
    font-size: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fulanodetal {
    width: 1284px;
    height: 570px;
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ola {
    font-size: 32px;
}

.partedev {
    font-size: 22px;
    color:#828282;
}

.imgminha {
    height: 430px;
    width: 320px;
    border-radius: 140px;
}

.contato{
    background-color: #2f2d80;
    text-decoration: none;
    color: black;
    margin-top: 15px;
    padding-inline: 15px;
    position: relative;
    font-weight: bold;
    font-size: 24px;
    top: 10px;
    left: 95px;
}

#sobremim{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:90px ;
}

.sobremim h2{
    font-size: 38px;
    font-weight: 800;
}

.psobremim{
    font-size: 18px;
    color: #828282;
    width: 75%;
    line-height: 26px;
    text-align: center;
    padding-top: 23px;
}

.linkedinicon, .githubicon, .emailicon {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}
